.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tile-image {
        width: 100%;
        aspect-ratio: 1;
        image-rendering: pixelated;
    }
    
    .entity-image {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 10;
        width: 100%;
        aspect-ratio: 1;
        image-rendering: pixelated;
    }
}